.space-between {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.space {
    display: flex;
    justify-content: space-evenly;
    .button {
        cursor: pointer;
    }
}
