.bookmark-1{
    border: 1px solid #7267ef;
    background: #7267ef;
    border-radius: 5px;
    /* padding: 17px; */
    width: 29px;
    height: 34px;
    margin: 10px;

}
.button-1 {
    width: 82%;
}